.v-line{
    border-left: thick solid #000;
    height:100%;
    left: 50%;
    position: absolute;
    color:blue;
   }

   #circulo {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}   